name: Deploy to ECR #fix token

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup AWS
      env:
        AWS_KEY: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
      run: |
        # Configure AWS CLI
        aws configure set aws_access_key_id $AWS_KEY
        aws configure set aws_secret_access_key $AWS_SECRET
        aws configure set region $AWS_REGION
        
        # Test
        aws sts get-caller-identity
        
    - name: Login to ECR
      run: |
        aws ecr get-login-password | docker login --username AWS --password-stdin 692131107972.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
    
    - name: Build and Push Webapp
      run: |
        docker build -t 692131107972.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/assignment1-webapp:latest .
        docker push 692131107972.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/assignment1-webapp:latest