name: Deploy to ECR #fix token

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} # Required for Learner Lab
        aws-region: us-east-1
        
        
    - name: Login to ECR
      run: |
        aws ecr get-login-password | docker login --username AWS --password-stdin 692131107972.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
    
    - name: Build and Push Webapp
      run: |
        docker build -t 692131107972.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/assignment1-webapp:latest .
        docker push 692131107972.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/assignment1-webapp:latest